*{
    margin: 0;
    padding: 0;
    background-color:#86b1eb;
}



h1{
    color: rebeccapurple;
    text-align: center;
}

h3{
    color: red;
    text-align: center;
    margin-top:20px;
}

p{
    text-align: center;
    margin-top: 20PX;
}


li{
    border:1px solid white;
    margin: 20px auto;
    max-width: 80%;
    list-style: none;
    text-align: center;


}